@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0f2a; /* Cor de fundo atualizada */
  color: #f0f0f0;
  font-family: "Poppins", "Roboto", sans-serif;
}
